# Model settings
FINANBOT_MODEL_PROVIDER=your-model-provider
FINANBOT_MODEL_NAME=your-model-name

# Provider API keys
OPENAI_API_KEY=your-openai-key
GEMINI_API_KEY=your-gemini-key
ANTHROPIC_API_KEY=your-anthropic-key
# Or any other provider key you want

# DB settings
FINANBOT_NEO4J_URI=bolt://neo4j:7687
FINANBOT_NEO4J_USERNAME=neo4j
FINANBOT_NEO4J_PASSWORD=password
